<!DOCTYPE html>
<html>
<head>
    <title>Mashup Generator</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>

<div class="container">
    <h1> Mashup Generator</h1>
    <form method="POST">
        <label>Singer Name</label>
        <input type="text" name="singer" required>
        <label>Number of Videos ( > 10 )</label>
        <input type="number" name="num" required>
        <label>Duration per Audio ( > 20 sec )</label>
        <input type="number" name="duration" required>
        <label>Email Address</label>
        <input type="email" name="email" required>
        <button type="submit">Generate Mashup</button>
    </form>
</div>

<div class="svg">
    <img src="{{url_for('static',filename='m.svg')}}">
</div>
</body>
</html>
